<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="base :: base_header(~{::title},~{::link})">
    <title>Edit person - BDBT TV Radio</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body class="bg-light">
<nav th:replace="navbar :: navbar"></nav>
<div class="container container-form">
    <main>
        <div class="py-5 text-center">
            <h2>Edit person</h2>
            <p class="lead">
                A person entity represents anyone who can be involved in the production
                workflow, whether they are an employee, a subcontractor, or a customer.
            </p>
        </div>
        <div class="row g-5">
            <div class="col-sm-12">
                <form action="#" method="post" th:action="@{/person/update}" th:object="${person}">
                    <div class="row g-3">
                        <div class="col-12">
                            <label class="form-label" for="person_id">Person ID</label>
                            <input class="form-control" id="person_id" placeholder="" th:field="*{person_id}"
                                   type="text" value="" readonly/>
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" id="name" placeholder="" th:field="*{name}" type="text"
                                   value=""/>
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="surname">Surname</label>
                            <input class="form-control" id="surname" placeholder="" th:field="*{surname}" type="text"
                                   value=""/>
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="company_id">Company ID</label>
                            <input class="form-control" id="company_id" placeholder="" th:field="*{company_id}"
                                   type="text" value=""/>
                        </div>
                    </div>
                    <hr class="my-4"/>
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Done</button>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>
