<!DOCTYPE html>
<html lang="en" xmlns:sec="http://thymeleaf.org" xmlns:th="http://thymeleaf.org">
<head th:replace="base :: base_header(~{::title},~{::link})">
    <title>Tasks - BDBT TV Radio</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Tasks</h2>
            <p class="lead">
                Here you can have an overlook at the tasks employers are
                currently working on.
            </p>
        </div>
        <table class="table table-striped align-middle">
        <thead>
        <tr>
            <th scope="col">Task ID</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Person ID</th>
            <th scope="col">Production ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Deadline</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task:${listTask}">
            <td th:text="${task.task_id}">Task ID</td>
            <td th:text="${task.employee_id}">Employee ID</td>
            <td th:text="${task.person_id}">Person ID</td>
            <td th:text="${task.production_id}">Production ID</td>
            <td th:text="${task.title}">Title</td>
            <td th:text="${task.description}">Description</td>
            <td th:text="${task.status}">Status</td>
            <td th:text="${task.deadline}">Deadline</td>

            <td>
                <a class="btn btn-outline-primary" sec:authorize="hasRole('ADMIN')" th:href="@{'/task/edit/' + ${task.task_id}}"><i class="bi bi-pen"></i></a>
                <a class="btn btn-outline-danger" sec:authorize="hasRole('ADMIN')" th:href="@{'/task/delete/' + ${task.task_id}}"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
        <div class="py-2 d-grid gap-2 d-md-block">
            <a class="btn btn-primary" href="/task/new" sec:authorize="hasRole('ADMIN')"><i class="bi bi-plus"></i> New task</a>
        </div>
    </main>
</div>
</body>
</html>
