<!DOCTYPE html>
<html lang="en" xmlns:sec="http://thymeleaf.org" xmlns:th="http://thymeleaf.org">
<head th:replace="base :: base_header(~{::title},~{::link})">
    <title>Productions - BDBT TV Radio</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Productions</h2>
            <p class="lead">
                Here you can have a preview of every production that
                took place in the company.
            </p>
        </div>
        <table class="table table-striped align-middle">
            <thead>
            <tr>
                <th scope="col">Production ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Client Company ID</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="production:${listProduction}">
                <td th:text="${production.production_id}">Production ID</td>
                <td th:text="${production.title}">Title</td>
                <td th:text="${production.description}">Description</td>
                <td th:text="${production.client_company_id}">Client Company ID</td>

                <td>
                    <a class="btn btn-outline-primary" sec:authorize="hasRole('ADMIN')"
                       th:href="@{'/production/edit/' + ${production.production_id}}"><i class="bi bi-pen"></i></a>
                    <a class="btn btn-outline-danger" sec:authorize="hasRole('ADMIN')"
                       th:href="@{'/production/delete/' + ${production.production_id}}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="py-2 d-grid gap-2 d-md-block">
            <a class="btn btn-primary" href="/production/new" sec:authorize="hasRole('ADMIN')"><i class="bi bi-plus"></i> New production</a>
        </div>
    </main>
</div>
</body>
</html>
